/*--------------------Global--------------------*/
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
/*--------------------indexpage--------------------*/
nav {
  display: flex;
  height: 140px;
  width: 100vw;
  background-color: #fdfdfd;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-options {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  gap: 2rem;
}
.nav-options a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;
}

.nav-options a:hover {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: grey;
}

.hero {
  position: relative;
}
.hero-img {
  width: 100vw;
  height: 37rem;
  object-fit: cover;
  display: block;
}

.hero-txt {
  position: absolute;
  left: 15%;
  top: 30%;
  width: 25rem;
}

.hero button {
  position: absolute;
  left: 15%;
  top: 60%;
  width: 18rem;
  height: 6rem;
  border-radius: 50px;
  border: none;
  background-color: #de9f5b;
  color: white;
}
.hero button:hover {
  position: absolute;
  left: 15%;
  top: 60%;
  width: 18rem;
  height: 6rem;
  border-radius: 50px;
  border: none;
  background-color: #fab366;
  color: white;
}

.information-container {
  background-color: #f4ece3;
  height: 40rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.information-container h2 {
  position: absolute;
  top: 10%;
}
.info-cards {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  padding-top: 3rem;
  margin: 3rem, auto, auto, 3rem;
}
.info-card {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  width: 21rem;
  height: 18rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info-cards-img {
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: -25%;
}
.info-cards-txt {
  align-items: center;
}

.preview-petsitter-container {
  width: 100vw;
  height: 40rem;
  background-color: #e8ddd3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.preview-petsitter-cards {
  display: flex;
  background-color: #e8ddd3;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
}
.preview-petsitter-card {
  background-color: #fdfdfd;
  width: 22rem;
  height: 30rem;
  border-radius: 20px;
}

/*--------------------footer--------------------*/
footer img {
  width: 100vw;
  height: 20rem;
  object-fit: cover;
}
