* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
nav {
  display: flex;
  height: 140px;
  width: 100vw;
  background-color: #fdfdfd;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-options {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  gap: 2rem;
}

.Burgermenu-btn {
  height: 50%;
}

.hero-img {
  width: 100vw;
  height: 40rem;
  object-fit: cover;
  display: block;
}

.information-container {
  background-color: #f4ece3;
  height: 40rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.info-cards {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  padding-top: 5rem;
}
.info-card {
  display: flex;
  background-color: #fdfdfd;
  width: 25rem;
  height: 20rem;
  border-radius: 20px;
}

.info-cards-img {
  height: 10rem;
  border-radius: 50%;
  margin-top: -4rem;
}
.info-cards-txt {
  align-items: center;
  display: flex;
}

.preview-petsitter-container {
  width: 100vw;
  height: 40rem;
  background-color: #e8ddd3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.preview-petsitter-cards {
  display: flex;
  background-color: #e8ddd3;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
}
.preview-petsitter-card {
  background-color: #fdfdfd;
  width: 20rem;
  height: 30rem;
  border-radius: 20px;
}

footer img {
  width: 100vw;
  height: 20rem;
  object-fit: cover;
}
